# Introduction

Comme vu dans le cours POO & MSI, il y a beaucoup de manières de programmer. Des styles. Des formes que l’on donne au code. On leur donne des noms: programmation procédurale, fonctionnelle, orientée flux, par contrat, etc... C’est ce qu’on appelle des paradigmes, des points de vue sur comment on doit faire le boulot.

En vérité, le point de vue n’est pas déterminant. Vous pouvez faire le même boulot en utilisant n’importe lequel. L’important c’est de coder.

Mais chaque point de vue possède des caractéristiques et des outils différents.

Ce que vous allez voir est ce qu’on appelle la programmation orientée objet, ou POO. C’est un simple point de vue, un outil, mais il est très utilisé en Python, Ruby ou Java.

Quand vous avez appris la programmation, on vous a montré comment stocker des données dans des structures de données:

- les listes
- les chaînes
- les entiers
- les dictionnaires
- et les autres 

Et on vous a montré comment créer un comportement pour votre programme en utilisant des mots clés, puis plus tard en utilisant des fonctions pour regrouper ces mots clés.

En Python, à ce stade, nous allons supposer que vous connaissez les bases du langage ainsi que celles des structures de données. Si ce n'est pas le cas je vous renvoie vers le cours *Introduction au python* à la racine.

## Rappels sur la POO

La programmation orienté objet, c’est un style de programmation qui permet de regrouper au même endroit le comportement (les fonctions) et les données (les structures) qui sont faites pour aller ensemble.

C’est tout. C’est finalement une simple question d’organisation du programme.

### Les objets 

Un objet c'est un… truc. Un machin. Un bidule.

Ça peut vous paraître une définition floue, mais c’est parce que c’est exactement ce que peut être un objet: n’importe quoi que vous décidiez de coder. L’objet est un moyen de dire à la machine : “ce *< entrez_ici_un_nom_de_truc > *possède telle donnée, et fait telle chose avec”.

Vous le savez, en python absolument tout est un objet ! Une chaîne, un entier, un dictionnaire, une liste, une fonction… Vous avez donc manipulé des objets sans le savoir. Maintenant vous allez créer les vôtres.

Créer des objets se fait en deux étapes: décrire à quoi ressemble votre objet, et demander à l’ordinateur d’utiliser cette description pour le fabriquer.

Voici un petit exemple simple.

In [1]:
class DescriptionDeLObject : 
    pass

In [2]:
#on déclare cet objet afin de l'utiliser
MonObjet = DescriptionDeLObject() 
#on l'affiche 
print(MonObjet)

<__main__.DescriptionDeLObject object at 0x062CBE30>

C'est ce qu’on appelle une classe. **La classe est le moyen, en Python, de décrire à quoi va ressembler un objet.**


```DescriptionDeLObject()``` 
**(notez les parenthèses)**, est la syntaxe Python pour dire “fabrique un objet à partir de ce plan”. Le nouvel objet va être retourné, et mis dans la variable *MonObjet* .

### Les méthodes 

Les méthodes sont des fonctions déclarées à l’intérieur de la classe. Méthode est juste un nom pour dire “cette fonction est dans une classe”. On va maintenant créer une méthode très simple.

In [8]:
class DescriptionDeLObject :
    #une méthode est une fonction qu'on définie tel que : 
    def la_methode(objet_en_cours):
        print("Ceci est une méthode sur un objet : 'tada' ")

In [9]:
#on redéfinit la variable MonObjet 
MonObjet = DescriptionDeLObject() 
#on peut maintenant appeler la méthode de notre objet 
MonObjet.la_methode()

Ceci est une méthode sur un objet : 'tada'

Vous devez vous demander *“quel est ce objet_en_cours”* qui est défini comme paramètre de la méthode ?

C’est une spécificité de Python : quand vous appelez une méthode depuis un objet, l’objet est automatiquement passé en premier paramètre par Python. C’est automatique, et invisible.

C’est très facile à comprendre en faisant une méthode qui retourne ```objet_en_cours``` pour voir ce qu’il y a dedans :

In [10]:
class DescriptionDeLObjectBis : 
    def une_methode(objet_en_cours):
        return objet_en_cours

In [11]:
ObjetBis = DescriptionDeLObjectBis() 
ObjetBis.une_methode()

### Les conventions 

En Python, peu de choses sont forcées. La plupart des choses sont des conventions. Mais ce sont des conventions fortes, les gens y tiennent.

Parmi ces conventions, il y a les conventions de nommage, à savoir:
- on nomme les classes sans espace, avec des majuscules : NomDUneClasse
- on nomme le reste en minuscule avec des underscores : nom_de_methode, nom_d_attribut, etc

La convention la plus surprenante est celle du premier paramètre des méthodes qui contient *l’objet en cours*. Son nom n’est pas forcé, contrairement aux autres langages (comme this en Java par exemple), en fait c’est un paramètre tout à faire ordinaire. Néanmoins, la (très très forte) convention est de l’appeler ```self```

In [14]:
class UneClasse : 
    def methode(self): 
        print('un truc')
        
ex = UneClasse()
ex.methode()

un truc

Enfin, les concepteurs de Python ont ajouté une convention supplémentaire : les méthodes appelées automatiquement dites méthodes spéciales sont appelées ```__nom_de_methode__``` (avec deux underscores de chaque côté).

### L'initialisation des objets 

On souhaite généralement donner un état de départ à tout nouvel objet créé. Par exemple, si vous travaillez sur un jeu vidéo de course de voitures, vous voudrez peut-être créer un objet voiture avec du carburant et une couleur de peinture.

Il serait contre productif de devoir les spécifier à chaque fois. Pour automatiser le travail, Python met à disposition des méthodes appelées automatiquement quand une condition est remplie. Ce sont **les fameuses méthodes spéciales nommées __methode__**.

Dans notre cas, on veut que notre objet ait un état de départ, donc on va utiliser la méthode qui est appelée automatiquement après la création de l’objet. C’est la méthode ```__init__```.

In [18]:
class UneAutreClass : 
    def __init__(self) :
        print("L'objet à bien été crée !")
        print("La méthode est appelé automatiquement à la déclaration de l'objet")

x = UneAutreClass()

L'objet à bien été crée !
La méthode est appelé automatiquement à la déclaration de l'objet

## Exercices


### Le compte bancaire

Écrire un programme python qui permet de définir une classe CompteBancaire(), qui permette d’instancier des objets tels que compte1, compte2, etc. Le constructeur de cette classe initialisera deux attributs d’instance nom et solde, avec les valeurs par défaut ’Dupont’ et 1000.

Trois autres méthodes seront définies :

- depot(somme) permettra d’ajouter une certaine somme au solde ;
- retrait(somme) permettra de retirer une certaine somme du solde ;
- affiche() permettra d’afficher le nom du titulaire et le solde de son compte.


Exemples d’exécution:
```
class CompteBancaire:
  
    def __init__(self):
        self.nom='Dupont'
        self.solde=100
    
    def depot(somme):
        self.solde = self.solde+somme
    
    def retrait(somme):
        self.solde = self.solde-somme
    
    def affiche():
        print("Titulaire du compte : "+self.nom+", solde du compte : "+self.solde)


```


### La surcharge d'opérateur 

Définir une classe Point avec un constructeur, un point est définit soit par deux coordonnées x et y, s’il s’agit d’une représentation d’un point au plan ou par trois coordonnées x, y et z, s’il s’agit d’une représentation d’un point en espace.

La classe Point doit contenir une méthode ToString qui affiche le point.

Exemple d’exécution:
```
>>>P1=Point(2,3)
>>>P1.ToString()
P(2.00 , 3.00)
>>>P2=Point(1,-5,6)
>>>P2.ToString()
P(1.00 , -5.00 , 6.00)
```


### L'héritage simple

Définir les classes suivantes:

- Une classe DateNaissance avec trois attributs, jour, mois, année et une méthode ToString qui convertit la date de naissance en chaine de caractères
- Une classe Personne  avec trois attributs, nom, prénom et date de naissance et une méthode polymorphe Afficher pour afficher les données de chaque personne.
- Une classe Employé qui dérive de la classe Personne, avec en plus un attribut Salaire et la redéfinition de la méthode Afficher.
- Une classe Chef qui dérive de la classe Employé, avec en plus un attribut Service et la redéfinition de la méthode Afficher.

Exemple d’exécution:

```
>>>P=personne(“Ilyass”,”Math”,DateNaissance(1,7,1982))
>>>P.afficher()
Nom: Ilyass 
Prénom: Math
Date de naissance: 01 / 07 / 1982

>>>E=employe(“Ilyass”,”Math”,DateNaissance(1,7,1985),7865.548)
>>>E.afficher()
Nom: Ilyass 
Prénom: Math
Date de naissance: 01 / 07 / 1985
Salaire: 7865.55

>>>Ch=chef(“Ilyass”,”Math”,DateNaissance(1,7,1988),7865.548,”Ressource humaine”)
>>>Ch.afficher()
Nom: Ilyass 
Prénom: Math
Date de naissance: 01 / 07 / 1988
Salaire: 7865.55
Service: Ressource humaine
```

## Exercice sur le polymorphisme

### Consignes 

Une boîtes aux lettres recueille des courrier qui peuvent être des lettres ou des colis.

Une lettre est caractérisée par :

son poids (en grammes)
le mode d’expédition (express ou normal)
son adresse de destination
son adresse d’expédition
son format (“A3” ou “A4”)
Un colis est caractérisé par :

son poids (en grammes)
le mode d’expédition (express ou normal)
son adresse de destination
son adresse d’expédition
son volume (en litres )
Il faut donc définir aussi les deux méthodes:

calculTimbre: qui calcule le prix du Timbre
ToString qui affiche un courrier
Règles pour calculer le prix du Timbre :

en mode d’expédition normal :

Le montant nécessaire pour affranchir une lettre dépend de son format et de son poids : Formule : montant = tarif de base + 1.0 * poids (kilos), où le tarif de base pour une lettre “A4” est de 2.50, et 3.50 pour une lettre “A3”

Le montant nécessaire pour affranchir un colis dépend de son poids et de son volume : Formule : montant = 0.25 volume (litres) + poids (kilos) 1.0

en mode d’expédition express : les montants précédents sont doublés, quelque soit le type de courrier

### Exemple d’exécution :
```
>>>L1=Lettre(“Lille”,”Paris”,80,”normal”,”A4″)
>>>L1.ToString()
Lettre:
Adresse destination: Lille 
Adress expedition: Paris
Poids: 80.00 grammes
Mode: normal 
Format:A4
Prix du timbre:0.20
>>>C1=Colis(“Marrakeche”,”Barcelone “,3500,”expresse”,2.25)
>>>C1.ToString()
Collis:
Adresse destination: Marrakeche 
Adress expedition: Barcelone 
Poids: 3500.00 grammes
Mode: expresse 
Volume: 2.25 litres
Prix du timbre:3937.50
```

In [8]:
class CompteBancaire:
  
    def __init__(self):
        self.nom='Dupont'
        self.solde=100
    
    def depot(somme):
        self.solde = self.solde+somme
    
    def retrait(somme):
        self.solde = self.solde-somme
    
    def affiche():
        print("Titulaire du compte : "+self.nom+", solde du compte : "+self.solde)

In [4]:
compte1 = CompteBancaire()

In [5]:
compte1.affiche()

TypeError: affiche() takes 0 positional arguments but 1 was given

In [9]:
compte1.affiche()

TypeError: affiche() takes 0 positional arguments but 1 was given

In [10]:
compte1.depot(1)

TypeError: depot() takes 1 positional argument but 2 were given

In [50]:
class CompteBancaire :
        
    def __init__(self,nom='Dupont',solde=100) :
            self.nom=nom
            self.solde=solde
    
    def depot(self,somme) :
        self.solde = self.solde+somme
    
    def retrait(self,somme) :
        self.solde = self.solde-somme
    
    def affiche(self) :
        print ("Titulaire du compte :{}, solde du compte : {}".format(self.nom,self.solde))
        
compte1 = CompteBancaire('Assan',100)
compte1.retrait(0)
compte1.affiche()

Titulaire du compte :Assan, solde du compte : 100

In [35]:
compte1 = CompteBancaire()

In [36]:
compte1.retrait(1)

In [37]:
compte1.affiche()

Titulaire du compte :Dupont, solde du compte : 99

In [88]:
class Point :
    
    def __init__(self,x=0,y=0,z=None) :
        self.x = x
        self.y = y
        self.z = z
    
    def toString(self) :
        if self.z != None :
            print("X : %.2f , Y : %.2f, Z : %.2f" %(self.x,self.y,self.z))
        else :
            print("X : %.2f , Y : %.2f" %(self.x,self.y))
        
        

pt1 = Point(0,1)
pt1.toString()
pt2 = Point(1,2,3)
pt2.toString()

X : 0.00 , Y : 1.00
X : 1.00 , Y : 2.00, Z : 3.00

In [84]:
compte2= CompteBancaire("Assan",1000)

In [101]:
class DateNaissance:
    jour=0
    mois=0
    année=0
    
    def __init__(self,jour=0,mois=0,annee=0) :
        self.jour = jour
        self.mois = mois
        self.annee = annee
        
    def toString(self) :
        print("Date de naissance : %d/%d/%d"%(self.jour,self.mois,self.annee))

In [102]:
assan=DateNaissance()

In [103]:
assan.toString()

Date de naissance : 0/0/0

In [130]:
class DateNaissance:
    jour=0
    mois=0
    année=0
    
    def __init__(self,jour,mois,annee) :
        self.jour = jour
        self.mois = mois
        self.annee = annee
        
    def toString(self) :
        print("Date de naissance : %2d/%2d/%d"%(self.jour,self.mois,self.annee))
        

class Personne(DateNaissance):
    nom=""
    prenom=""
    dateDeNaissance=DateNaissance
    
    def __init__(self,nom,prenom,DateNaissance) :
        self.nom=nom
        self.prenom=prenom
        self.dateDeNaissance=DateNaissance
    
    def afficher(self) :
        print("Nom : %s , Prenom %s "%(self.nom,self.prenom))
        self.dateDeNaissance.toString()

In [135]:
p1 = Personne(Personne("Assan","DIOMANDE",DateNaissance(7,11,1995)),111.11)

TypeError: __init__() missing 1 required positional argument: 'DateNaissance'

In [132]:
p1.afficher()

Nom : Assan , Prenom DIOMANDE
Date de naissance :  7/11/1995

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as mpl

In [15]:
data = pd.read_csv("../exos/data/sales_predictions.csv")

In [16]:
data

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day
0,02.01.2013,0,59,22154,999.00,1.0
1,03.01.2013,0,25,2552,899.00,1.0
2,05.01.2013,0,25,2552,899.00,-1.0
3,06.01.2013,0,25,2554,1709.05,1.0
4,15.01.2013,0,25,2555,1099.00,1.0
...,...,...,...,...,...,...
2935844,10.10.2015,33,25,7409,299.00,1.0
2935845,09.10.2015,33,25,7460,299.00,1.0
2935846,14.10.2015,33,25,7459,349.00,1.0
2935847,22.10.2015,33,25,7440,299.00,1.0
2935848,03.10.2015,33,25,7460,299.00,1.0

In [22]:
pd.DataFrame({'date':pd.to_datetime(data['date']),'item_price': data['item_price']})

              date  item_price
0       2013-02-01      999.00
1       2013-03-01      899.00
2       2013-05-01      899.00
3       2013-06-01     1709.05
4       2013-01-15     1099.00
...            ...         ...
2935844 2015-10-10      299.00
2935845 2015-09-10      299.00
2935846 2015-10-14      349.00
2935847 2015-10-22      299.00
2935848 2015-03-10      299.00

[2935849 rows x 2 columns]